form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
form > input {
  font-size: 1.2rem;
}
ol {
  list-style-position: inside;
  text-align: left;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation: spin infinite 2s linear alternate;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
